<% if @status %>
	<h1>All is well.</h1>
	<p>Your email has been verified, your game will save within a minute. When the warning goes away, you know its saved.</p>
<% else %>
	<h1>ut OH, something is not right.</h1>
	<p>Your email has NOT been verified, your game will NOT save. Please contact us.</p>
<% end %>